.doctor-detail-container{

    .intro-doctor{
        padding: 0 100px;
        display: flex;
        height: 150px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .content-left{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .content-right{
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            text-align: justify;
            .up{
                font-size: 20px;
                font-weight: 60px;
            }
            .down{
                padding-left: 10px;
            }
        }
    }
    .info-detail-doctor{
        background-color: #F9F9F9;
        padding: 20px 120px;
    }

    .schedule-doctor{
        margin: 0 100px;
        height: 300px;
        border: 1px solid red;
        display: flex;

        .content-left{
            width: 50%;
        }

        .content-right{
            width: 50%;
        }
    }
}