.section-specialitry{
    border: 1px solid red;
    height: 330px;
    background-color: #f5f5f5;

    .speciality-content{
        margin: 0px 50px; 
        height: 100%;
        .speciality-content{
            height: 100%;
            .slick-slider{
                height: 100% !important;
               
            }
        }

    }



    .img-customize{
        height: 300px;
        border:1px solid blue;
    }
}

.slick-next:before {
    font-family: FontAwesome in !important;
    font-size: 30px !important;
    font-weight: 1000 !important;
    color: #7f7f7f !important;
    // content: "\f060" !important;
}

.slick-prev:before {
    font-family: FontAwesome !important;
    font-size: 30px !important;
    font-weight: 1000 !important;
    color: #7f7f7f !important;
    // content: "\f060" !important;
}

.slick-prev {
    left: -20px !important;
    z-index: 999999 !important;
    // position: relative !important;
    // top: -90% !important;
    &:hover{
        background-color :rgb(244, 238, 238) !important

    }
}

.slick-next {
    right: -20px !important;

    &:hover{
        background-color :rgb(244, 238, 238) !important
    }
    
}

.slick-prev, .slick-next {
    font-size:18px !important;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.487) !important;
    /* background: transparent; */
    width: 44px !important;
    height: 44px !important;
    border: 2px solid #d7d7d7 !important;

    &:hover{
        background-color :#f5f5f5
    }
}


.slick-slider{
    height: 100% !important;
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        top: 50%;
        padding: 0;
        transform: translate(0, -50%) !important;
        height: 100% !important;
    }
}